body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  position: absolute;
  bottom: 20px;
}

.chart-container {
  position: relative;
  height:40vh;
  width:70vw;
  margin-bottom: 20px;
}